/* ------------------------------ */
/* ------------------------------ */
/*         VARIABLES              */
/* ------------------------------ */
body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h2 {
  color: #3046C5; }

header h2 {
  color: #CEC8FF; }

.jumbotron {
  padding: 30px;
  background-image: linear-gradient(to right, #5637dd, #3046C5, #60106b);
  color: #ffffff;
  margin: 0; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

/* ------------------------------ */
/* ------------------------------ */
/*            NAVBAR              */
/* ------------------------------ */
.navbar {
  background-color: #901CAD; }

.navbar-brand img {
  width: 30px;
  height: 30px; }

/* ------------------------------ */
/* ------------------------------ */
/*            FOOTER              */
/* ------------------------------ */
.site-footer {
  background-image: linear-gradient(#CEC8FF, #ffffff);
  padding: 20px 0px; }

/* ------------------------------ */
/* ------------------------------ */
/*            TAB-CONTENT         */
/* ------------------------------ */
.tab-content {
  border: 1px solid #DDDDDD;
  border-top: none;
  padding: 10px; }

/* ------------------------------ */
/* ------------------------------ */
/*            CAROUSEL            */
/* ------------------------------ */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #5637dd; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0; }
